Makefile
*~
*\.c
*\.o
*\.lo
config.h
config.log
config.status
.libs/
.deps/
libisocodes_la_vala.stamp
stamp-h1
\.dirstamp
libtool
libisocodes.la
libisocodes.h
libisocodes.vapi
libisocodes-[0-9.]*\.gir
