Makefile
codetest
*~
*\.c
*\.o
*\.lo
po/*\.gmo
po/Makefile.in
po/stamp-po
po/POTFILES
config.h
config.log
config.status
\.libs/
\.deps/
autom4te.cache/
libisocodes_la_vala.stamp
stamp-h1
\.dirstamp
libtool
libisocodes.la
libisocodes.h
libisocodes.vapi
libisocodes-[0-9.]*\.gir
libisocodes-[0-9.]*\.typelib
libisocodes.pc
